/*
Error: Inconsistent indentation: "\t\t\t        " was used for indentation, but the rest of the document was indented using 1 tab.
        on line 231 of D:/projects/udemy/3.project---uber/sass/style.sass

226: 					background: url('../icons/mobile/карточка 5.png') center (center / cover) no-repeat
227: 			&_6
228: 					background: url('../icons/mobile/карточка 6.png') center (center / cover) no-repeat
229: 			&_subtitle
230: 					color: #ffffff
231: 			        font-size: 24px
232: 			        font-weight: 400
233: 			        line-height: 31px
234: 			        text-transform: uppercase
235: 			        text-align: center
236: 			&_plus

Backtrace:
D:/projects/udemy/3.project---uber/sass/style.sass:231
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.25/lib/sass/engine.rb:489:in `block in tabulate'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.25/lib/sass/engine.rb:447:in `each'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.25/lib/sass/engine.rb:447:in `each_with_index'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.25/lib/sass/engine.rb:447:in `tabulate'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.25/lib/sass/engine.rb:412:in `_to_tree'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.25/lib/sass/engine.rb:284:in `render'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:494:in `update_stylesheet'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:209:in `each'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
C:/Program Files (x86)/Koala/rubygems/gems/compass-1.0.3/lib/compass/sass_compiler.rb:40:in `compile!'
C:/Program Files (x86)/Koala/rubygems/gems/compass-1.0.3/lib/compass/commands/update_project.rb:49:in `perform'
C:/Program Files (x86)/Koala/rubygems/gems/compass-1.0.3/lib/compass/commands/base.rb:18:in `execute'
C:/Program Files (x86)/Koala/rubygems/gems/compass-1.0.3/lib/compass/commands/project_base.rb:19:in `execute'
C:/Program Files (x86)/Koala/rubygems/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
C:/Program Files (x86)/Koala/rubygems/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:15:in `run!'
C:/Program Files (x86)/Koala/rubygems/gems/compass-1.0.3/bin/compass:30:in `block in <top (required)>'
C:/Program Files (x86)/Koala/rubygems/gems/compass-1.0.3/bin/compass:44:in `call'
C:/Program Files (x86)/Koala/rubygems/gems/compass-1.0.3/bin/compass:44:in `<top (required)>'
C:/Program Files (x86)/Koala/bin/compass:22:in `load'
C:/Program Files (x86)/Koala/bin/compass:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Inconsistent indentation: \"\t\t\t        \" was used for indentation, but the rest of the document was indented using 1 tab.\A         on line 231 of D:/projects/udemy/3.project---uber/sass/style.sass\A \A 226: 					background: url('../icons/mobile/карточка 5.png') center (center / cover) no-repeat\A 227: 			&_6\A 228: 					background: url('../icons/mobile/карточка 6.png') center (center / cover) no-repeat\A 229: 			&_subtitle\A 230: 					color: #ffffff\A 231: 			        font-size: 24px\A 232: 			        font-weight: 400\A 233: 			        line-height: 31px\A 234: 			        text-transform: uppercase\A 235: 			        text-align: center\A 236: 			&_plus"; }
